<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Blocks allows changing its content #}
  <title>{% block title %}{% endblock %}</title>
  {# You can also include libs here (Bootstrap for ex.) #}
  <link href="
https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css
" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        .primary-text {
            color: #FCF1D0;
        }
        .navbar-bg {
            background-color: #22396F;
        }
    </style>
</head>

<body style="background-color: #0D1C42;">
    <nav class="navbar navbar-bg">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
    </div>
    </nav>
  {% block content %}{% endblock %}

  {# And js libs here #}
  <script src="
https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js
"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html> 